ImageConverter/Debug/
ImageConverter/ImageConverter/Debug/
ImageConverter/ipch/
ImageConverter/ImageConverter.opensdf
ImageConverter/ImageConverter.suo
ImageConverter/ImageConverter.sdf
SDK/SDL-1.2.14/docs